{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block javascripts %}
    <script src="/daterangepicker-master/moment.min.js" type="text/javascript"></script>
    <script src="/daterangepicker-master/daterangepicker.js" type="text/javascript"></script>
    <link href="/daterangepicker-master/daterangepicker.css" rel="stylesheet" type="text/css"/>



{% endblock %}

{% block body %}



    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <p class="lead">------------------------------------------------------------------------------</p>
        <h1 class="display-4"> Pesquisar Reservas</h1>
        <p class="lead">------------------------------------------------------------------------------</p>
    </div>

    <div class="container">


</div>

{% endblock %}
